/* StylesH.css */

.myNavbar {
    background-color: #40916c;
    /* Color de fondo azul */
    color: #fff;
    /* Texto en color blanco */
}


.myNavbar .nav-link {
    font-family: 'Handjet', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Raleway', sans-serif;
}

.myNavbar a {
    color: #fff;
    font-size: 25px;
    margin-right: 20px;
}

/* Estilo para el botón del Navbar Toggle */
.myNavbar .navbar-toggler-icon {
    background-color: #fff;

}

/* Estilo para el Navbar Brand (logo) */

.navbar-brand img {
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%;
    margin-left: -80px;
    /* Agrega un espacio entre la imagen y el borde izquierdo */
}

/* Estilo para los enlaces del Navbar */
.navbar-nav {
    margin-left: 250px;

}



/* Cambiar el color del enlace cuando se pasa el mouse por encima */
.myNavbar .nav-link:hover {
    background-color: #b7e4c7;
    border-radius: 70%;
    /* Color de fondo más oscuro al pasar el mouse */
}